1 ICON DISCARDABLE "app.ico"
2 ICON DISCARDABLE "256.ico"
3 ICON DISCARDABLE "128.ico"
4 ICON DISCARDABLE "96.ico"
5 ICON DISCARDABLE "64.ico"
6 ICON DISCARDABLE "48.ico"
7 ICON DISCARDABLE "32.ico"
8 ICON DISCARDABLE "24.ico"
9 ICON DISCARDABLE "16.ico"